<div class="top-wrapper">
  <div class="container">
    <div class="top-width">
      <div class="top-image">
        <i class="fas fa-coffee coffee-logo"></i>
        <div class="top-title">
          <h2>coffee_app</h2>
        </div>
      </div>

      <div class="top-login-new">
        <p>
          <%=link_to("ログイン", "/users/login_form", class:"underline entrance") %>
        </p>
        <p>
          <%=link_to("新規登録", "/users/new", class:"underline entrance") %>
        </p>
      </div>
    </div>
  </div>
</div>
