// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン,新規登録
.login-errar-message p{
  font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
  color:red;
  margin-bottom: 15px;
}
.presence-error-message{
  color: red;
  font-size: 13px;
}

.login-wrapper{
}
.container {
  margin: 70px auto 0 auto;
  width: 60%;
  //background-color: whitesmoke;
.login_form p,.new-form,.post-form p{
    margin-top:15px;
  }
  input{
    width: 50%;
  }
  .reserve input {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    width: auto;
    background-color:#0000FF;
    color: white;
    border-radius: 10%;
    padding: 10px;
    border: none;
  }
}
.login-width,.edit-width,.new-width,.post-width,.index-width,.post-show-width,.user-show-width{
  padding-left: 150px;
}

.login-title ,.new-title ,.index-title,.post-title,.edit-title {
  border-left: thick solid #0000FF;
  margin-bottom: 40px;
  font-size:25px;
  padding-left: 10px;
}

// ユーザー一覧
.index-width,.post-width,.post-show-width{
  width: 70%;
}
.user-index,.post-info,.post-show-info{
  background-color:#FEFEFE;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 10px;
  .index-image{
    margin-right:20px;
  }
}
.index-width{
  margin-bottom: 80px;
}
.show-image img{
  width: 130px;
  height:130px;
  border-radius: 50%;
}
.index-image img{
  width: 100px;
  height:100px;
  margin-left: 10px;
  border-radius: 50%;
}
.index-image,.index-detail{
  display: inline-block;
}
.index-detail{
  vertical-align: top;
  padding-top: 10px;
  .index-name{
  font-size: 20px;
  font-weight: bold;
  color: #040404;
}
}
.index-introduce {
    margin-top: 5px;
}
.name-border:hover{
  text-decoration: underline;
}
//ユーザー詳細
.show-info{
  border-bottom: solid thin #CBCBCB;
  padding-bottom: 40px;
}
.show-image,.show-detail,.edit,.user-destroy{
  display: inline-block;
}
.show-image{
  vertical-align: bottom;
}
.show-detail{
  vertical-align: top;
  margin-left: 40px;
  h2{
    margin-bottom: 15px;
  }
}
.stats{
  display:inline-block;
  margin-bottom: 5px;
  padding-left: 2px;
  color: gray;
}
  .stat,.post-counts{
    color: black;
}
.post-counts{
    border-right:solid thin gray;
    padding-right: 3px;
}

#follow_form{
  display: inline-block;
}
.btn-follow{
padding-right: 60px;
}
.btn-unfollow{
  padding-right: 90px;
}


// ユーザー編集
.edit{
    margin-top: 30px;
}
.edit-btn{
  background-color: #00CC00;
  color: #fff;
  padding: 10px;
  border-radius: 10%;
}
.user-delete{

}
.posts-detail,.likes-detail{
  display: inline-block;
  border-bottom: solid thin  #CBCBCB;
  padding-bottom: 30px;
  img{
    width:30%;
    height:auto;

  }
}
.post-like-head{
  margin-bottom: 20px;
  padding-bottom:3px;
  padding-top: 3px;
  border-bottom: solid thin  #CBCBCB;
  text-align: center;
  padding-right:80px;
  .head-font{
    color:gray;
    &:hover{
      text-decoration: underline;
      color: black;
    }
  }
  .post-head{
    margin-right: 200px;
  }
}
.post-all,.like-all{
  padding-bottom: 40px;
}

.footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #929292;
}
// .stats {
//   overflow: auto;
//   margin-top: 0;
//   padding: 0;
//   a {
//     float: left;
//     padding: 0 10px;
//     border-left: 1px solid gray;
//     color: gray;
//     &:first-child {
//       padding-left: 0;
//       border: 0;
//     }
//     &:hover {
//       text-decoration: none;
//       color: blue;
//     }
//   }
//   strong {
//     display: block;
//   }
// }
